<div class="general">
    <div>
        <hr>
        <h1>App Dietas</h1>     
        <hr>
    </div>
    <div id="buttons">
        <hr>
        <button (click)="goToDiets()" class="btn btn-primary"><i class="material-icons">clear_all</i><label for="dieta">Tu dieta</label></button>
        <button (click)="goToMeals()" class="btn btn-primary"><i class="material-icons">clear_all</i><label for="dieta">Comidas</label></button>
        <button (click)="goToList()" class="btn btn-primary"><i class="material-icons">clear_all</i><label for="dieta">Lista</label></button>
        <hr>
    </div>


    <div id="diestista">
        <hr>
        <button class="btn btn-primary"><i class="material-icons">person</i><label for="dieta">Dietista</label></button>
        <button class="btn btn-primary"><i class="material-icons">settings</i><label for="dieta">Perfil</label></button>
        <hr>
    </div>
    
    
</div>