/* La parte de la cabecera y sus componentes  */

.cabecera{
    background-color: #FFFFFF;
    margin-bottom: 2%;
    display: flex;
    padding: 20px 0px 0px 20px;
}

#perfil{
    margin: 35px 100px 0px auto;   
}

#userImg{
    margin-right: 20px;
}

/* El body y sus componentes */



#calendario{
    margin-bottom: 40px;   
    padding-left: 20px;
}

.table{
    width: 90%;    
    margin: 20px auto;
}

table tr td, table tr th{
    background-color: rgba(224, 224, 224, 0.507) !important;
}


