<div class="general">
  <div class="cabecera">
    <div id="nombre">
      <p style="font-size: 35px; margin-bottom: 20px">Buenos dias, {{this.user.user.name}}</p>
      <p style="color: #8c8c8d; font-size: 15px">
        Aqui esta tu dieta de la semana
      </p>
    </div>
    <div id="perfil">
      <div style="display: flex">
        <i class="material-icons">account_circle</i>
        <p>Alejandro Berenguer</p>
      </div>
    </div>
  </div>

  <div class="body">
    <!-- Calendario -->
    <div id="calendario" style="display: flex">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              [(ngModel)]="startDate"
              (dateChange)="getMeals()"
              matStartDate
              placeholder="Start date"
            />
            <input [(ngModel)]="endDate" matEndDate placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div>
        <p style="margin-top: 5px; color: #8c8c8d; margin-left: 10px">
          Aqui puedes seleccionar la semana que quieras ver.
        </p>
      </div>
    </div>

    <!-- Tabla -->
    <div *ngIf="this.data.mealsDiet.length > 0">
      <table class="table table-sm text-center">
        <thead>
          <tr>
            <th style="background-color: #4c6085; color: white" class="col" *ngFor="let day of days">
              <label>{{ day.name }}</label>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let time of times">
            <td *ngFor="let day of days">
              <ng-container *ngIf="data.mealsDiet">
                <ng-container *ngIf="hasMeal(day.name, time)">
                  <ng-container *ngFor="let meal of data.mealsDiet">
                    <ng-container *ngIf="meal.time === time && day.name === meal.day">
                      {{ meal.name }}
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!hasMeal(day.name, time)">                  
                  <label style="color: red;" for="">No hay comida, edita la dieta</label>
                </ng-container>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
    
    
    <div *ngIf="this.data.mealsDiet.length == 0" class="text-center" style="margin-top: 50px;">
      <h1>
          No tienes dietas asignadas a esta semana
      </h1>
    </div>

    


  </div>
</div>
