/* La parte de la cabecera y sus componentes  */

.cabecera{
    background-color: #FFFFFF;
    margin-bottom: 2%;
    display: flex;
    padding: 20px 0px 0px 20px;
}

#perfil{
    margin: 35px 100px 0px auto;   
}

#userImg{
    margin-right: 20px;
}


/* El body y sus componentes */

#calendario{
    margin-bottom: 40px;   
    padding-left: 20px;
}


table tr td, table tr th{
    background-color: #91a4bdad;
    padding-left: 10px;   
    padding-right: 10px;     
}

table tr th{
    background-color: #2A3549;
    color: white;
    font-size: 1.5rem;    
}

table{ 
    border-collapse: collapse;  
    width: 90%;    
    margin: 5% auto; 
    padding-bottom: 20px;    
    border-radius: 20px; /* Ajusta el valor según tus preferencias */
    overflow: hidden;
}

tr{  
    vertical-align: middle;  
    height: 100px;    
    display: table;
    width: 100%;
    table-layout: fixed;
}

td:first-child{
    border: none;
}

td{   
    border-left: 2px solid white;
}

