<div class="general">
  <div class="cabecera">
    <div id="nombre">
      <p style="font-size: 35px; margin-bottom: 20px">Buenos dias, Alejandro</p>
      <p style="color: #8c8c8d; font-size: 15px">
        Aqui estan tus comidas de la semana
      </p>
    </div>
    <div id="perfil">
      <div style="display: flex">
        <i class="material-icons">account_circle</i>
        <p>Alejandro Berenguer</p>
      </div>
    </div>
  </div>

  <div class="body">
    <!-- Calendario -->
    <div id="calendario" style="display: flex">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              [(ngModel)]="startDate"
              (dateChange)="getMealStats()"
              matStartDate
              placeholder="Start date"
            />
            <input [(ngModel)]="endDate" matEndDate placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div>
        <p style="margin-top: 5px; color: #8c8c8d; margin-left: 10px">
          Aqui puedes seleccionar la semana que quieras ver.
        </p>
      </div>
    </div>

    <!-- Tabla -->
    <div *ngIf="this.data.meals.length > 0">
      <table class="table table-sm text-center">
        <thead>
          <tr style="vertical-align: middle; height: 60px">
            <th
              style="background-color: #4c6085; color: white"
              class="col"
              *ngFor="let colum of columns"
            >
              <label>{{ colum.name }}</label>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr *ngFor="let meal of this.data.meals">
              <td style="padding-left: 10px; text-align: left">
                {{ meal.name }}
              </td>
              <td>{{ meal.kcal }}</td>
              <td>{{ meal.proteinas }}</td>
              <td>{{ meal.hidratos }}</td>
              <td>{{ meal.grasas }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <!-- <div *ngIf="this.data.meals.length == 0" class="text-center" style="margin-top: 50px;">
      <h1>
          No tienes dietas asignadas a esta semana
      </h1>
    </div> -->
  </div>
</div>
