.container{
    display: flex;
    margin: 0px;
    padding: 0px;  
    max-width: 2000px;  
    height: 100%;  
    background-color: #DDFFF7;  
}

.navbar {     
    margin: 0;
    padding: 0;
    width: 220px;
    background-color: #4C6085;
    position: fixed;
    height: 100%;
    overflow: auto;
}

  
.content {
    width: 89% ;
    height: 100%;    
    background-color: #DDFFF7;  
    margin-left: 220px; 
}
