.general{
    background-color: #DDFFF7;
}

.cabecera{
    background-color: #FFFFFF;
    margin-bottom: 2%;
    display: flex;
    padding: 20px 0px 0px 20px;
}

#perfil{
    margin: 35px 100px 0px auto;   
}

#calendario{
    margin-bottom: 40px;   
    padding-left: 20px;
}

.table{    
    width: 90%;    
    margin: 5% auto;
}

table tr td, table tr th{    
    background-color: #93E1D8;
    padding-left: 10px;   
}

table{
    border: 1px solid black;
}

tr{ 
    vertical-align: middle;      
    height: 30px;
    border-top: black;
    display: table;
    width: 100%;
    table-layout: fixed;
}