.general{
    background-color: #DDFFF7;
    padding-bottom: 20px;
}

.cabecera{
    background-color: #FFFFFF;
    margin-bottom: 2%;
    display: flex;
    padding: 20px 0px 0px 20px;
}

#perfil{
    margin: 35px 100px 0px auto;   
}

#calendario{
    margin-bottom: 40px;   
    padding-left: 20px;
}

table tr td, table tr th{
    padding-left: 15px;       
}

table tr th{
    background-color: #2A3549;
    color: white;
    height: 50px !important;
    font-size: 1.5rem;
}

table{ 
    border-collapse: collapse;  
    width: 90%;    
    margin: 5% auto; 
    padding-bottom: 20px;    
    border-radius: 10px; /* Ajusta el valor según tus preferencias */
    overflow: hidden;
}

tr{  
    vertical-align: middle;  
    height: 30px;    
    display: table;
    width: 100%;
    table-layout: fixed;
}

td{   
    border-top: 1px solid white;
}

tr:nth-child(even) {
    background-color: #91a4bdad; /* Color de fondo para las filas pares */
  }
  
  /* Aplica estilos a las filas impares (opcional, si deseas algo diferente) */
  tr:nth-child(odd) {
    background-color: #b9c7daad; /* Color de fondo para las filas impares (ajusta según tus preferencias) */
  }