.general{
    
    text-align: center;          
    color: #fff;
    padding: 0px 15px;                     
}


.material-icons{
    margin-right: 10px;
    vertical-align: sub;
}

.btn{     
    background-color: #4C6085;
    color: #fff;
    text-align: left;
    margin-top: 10px;
    border-color: transparent;
    width: 100%;
}



.buttons{
    margin-top: 50px;
}

#logOut {
    position: absolute;
    bottom: 0;
    width: 80%; /* O ajusta el ancho según tus necesidades */
}



