<div class="general">
    <div>
        <hr>
        <h1>App Dietas</h1>     
        <hr>
    </div>
    <div id="buttons">
        <hr>
        <button (click)="goToDiets()" class="btn btn-primary"><i class="material-icons">clear_all</i>Tu dieta</button>
        <button (click)="goToMeals()" class="btn btn-primary"><i class="material-icons">clear_all</i>Comidas</button>
        <button (click)="goToList()" class="btn btn-primary"><i class="material-icons">clear_all</i>Lista</button>
        <hr>
    </div>

    <div *ngIf="this.user.user.rol != 1">
        <hr>
        <button (click)="goToUsers()" class="btn btn-primary"><i class="material-icons">clear_all</i>Usuarios</button>        
        <button (click)="goToDietsUsers()" class="btn btn-primary"><i class="material-icons">fastfood</i>Dietas Usuarios</button>
        <hr>
    </div>
    
    <div id="dietista">
        <hr>
        <button (click)="goToContacto()" class="btn btn-primary"><i class="material-icons">person</i>Dietista</button>
        <button (click)="goToPerfil()" class="btn btn-primary"><i class="material-icons">settings</i>Perfil</button>
        <hr>
    </div>  
    
    <div>
        <hr>
        <button (click)="logOut()" class="btn btn-primary"><i class="material-icons">logout</i>LogOut</button>        
        <hr>
    </div> 
    
</div>