.general{
    text-align: center;              
    background-color: #4C6085;     
    color: #fff;
    padding: 0px 15px;                     
}

a.active {
    background-color: #04AA6D;
    color: white;
  }

#buttons{
    margin-top: 50px;   
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;       
}

.material-icons{
    margin-right: 10px;
    vertical-align: sub;
}

.btn{     
    background-color: #4C6085;
    color: #fff;
    text-align: left;
    margin-top: 10px;
    border-color: transparent;
    width: 100%;
}

#dietista{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column; 
}


