<div class="general">
  <div class="row">
    <div class="text-center">
      <div style="margin: 15px" class="form-group">      
        <mat-select placeholder="Selecciona usuario" [(ngModel)]="userDiet.user_id" name="" id="">      
          <input type="text" (keyup)="arrayFilter(this.userListFiltered, $event)" >    
          <mat-option *ngFor="let user of this.userListFiltered" [value]="user.id">
            {{ user.name }}
          </mat-option>
        </mat-select>
      </div>
      <div style="margin: 15px" class="form-group">        
        <mat-select placeholder="Selecciona dieta" [(ngModel)]="userDiet.diet_id" name="" id="">      
          <input type="text" (keyup)="arrayFilter(this.dietListFiltered, $event)">    
          <mat-option *ngFor="let diet of this.dietListFiltered" [value]="diet.id">
            {{ diet.name }}
          </mat-option>
        </mat-select>
      </div>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input [(ngModel)]="userDiet.date" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <div
        style="padding-bottom: 10px; padding-top: 5px; text-align: center"
        class="col-12 col-xs-12 col-sm-12 col-lg-12 col-xl-6"
      >
        <button
          mat-dialog-close
          class="asignButton"
          ngbTooltip="Cancelar"
          style="margin: 5px; height: 50px"
        >
          <mat-icon style="height: 28px; margin-top: 5px">cancel</mat-icon>
        </button>
      </div>
      <div
        style="padding-bottom: 10px; padding-top: 5px; text-align: center"
        class="col-12 col-xs-12 col-sm-12 col-lg-12 col-xl-6"
      >
        <button
          (click)="createUserDiet()"
          class="asignButton"
          ngbTooltip="Guardar Datos"
          style="margin: 5px; height: 50px"
        >
          <mat-icon style="height: 28px; margin-top: 5px">save</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
